<div id="home" class="bg-dark bd-gradient text-center pt-5 text-light">
  <div class="mb-5">
    <img src="assets/logo.png" alt="Rotten Apples" />
  </div>

  <div class="container bg-dark pt-3 pb-5">
    <h3 class="mt-5">
      <span class="fst-italic">Rotten Apples</span> es una aplicación web que
      tiene como fin que diversos usuarios registrados puedan publicar y
      compartir sus opiniones sobre las distintas películas que vieron con sus
      conocidos.
      <br />
      <span class="text-uppercase">¡¡¡que estas esperando para unirte a esta nueva comunidad!!!</span>
    </h3>
  </div>
</div>