<div id="mis_reviews" class="bg-dark bg-gradient">
  <div class="container">
    <!-- CARGANDO -->
    <div *ngIf="usuario == null || reviews == null || peliculas == null" class="cargando pt-5 text-center">
      <h1>Cargando...</h1>
    </div>
    <!-- CARGANDO -->

    <div *ngIf="usuario != null && reviews != null && peliculas != null">
      <!-- FORM AGREGAR/EDITAR REVIEW -->
      <h3 class="pt-5 text-center fst-italic" *ngIf="miFormulario.value._id == null">
        Agregar Review
      </h3>
      <h3 class="pt-5 text-center fst-italic" *ngIf="miFormulario.value._id != null">
        Modificar Pelicula Seleccionada
      </h3>
      <form [formGroup]="miFormulario">
        <div class="mb-3">
          <label class="form-label">Pelicula:</label>
          <select class="form-select" aria-label="Default select example" [size]="peliculas.length" name="peliculaId"
            formControlName="peliculaId">
            <option *ngFor="let pelicula of peliculas" [value]="pelicula._id">
              {{ pelicula.titulo }} ({{pelicula.anio}})
            </option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Contenido de la Review:</label>
          <input type="text" class="form-control" name="descripcion" formControlName="descripcion" />
          <small class="text-danger" *ngIf="
              miFormulario.controls['descripcion'].invalid &&
              miFormulario.controls['descripcion'].dirty &&
              miFormulario.controls['descripcion'].touched
            ">
            El contenido de la review es obligatorio, y debe tener entre 10 y
            144 caracteres.
          </small>
        </div>
        <div class="mb-3">
          <label class="form-label">Estrellas:</label>
          <input type="number" class="form-control" name="estrellas" formControlName="estrellas" />
          <small class="text-danger" *ngIf="
              miFormulario.controls['estrellas'].invalid &&
              miFormulario.controls['estrellas'].dirty &&
              miFormulario.controls['estrellas'].touched
            ">
            La cantidad de estrellas es obligatoria, y puede ser desde 1 hasta
            5.
          </small>
        </div>
        <button type="submit" class="btn btn-primary" (click)="postReview()" [disabled]="miFormulario.invalid">
          Publicar
        </button>
        <button type="button" class="btn btn-primary descartar" (click)="resetFormulario()">
          Descartar
        </button>
      </form>
      <!-- FORM AGREGAR/EDITAR REVIEW -->

      <!-- REVIEWS CON PARAMETROS -->
      <div *ngIf="reviews.length > 0">
        <h3 class="pt-5 text-center fst-italic">
          Reviews de: {{ usuario[1] }}
        </h3>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let review of reviews">
            <span class="editar" (click)="patchReview(review)">{{ review.titulo }} | {{ review.createdAt }}</span>
            <span class="eliminar" (click)="deleteReview(review._id)">⛔</span>
          </li>
        </ul>
      </div>
      <!-- REVIEWS CON PARAMETROS -->

      <!-- NO HAY REVIEWS REGISTRADAS -->
      <div class="container pt-5 pb-3" *ngIf="reviews.length == 0">
        <div class="alert alert-info m-0 text-center" role="alert">
          Por favor, ingrese una review de alguna película
        </div>
      </div>
      <!-- NO HAY REVIEWS REGISTRADAS -->
    </div>
  </div>
</div>